{
  "version": "2018-05-29",
  "statements": [
    #if($context.arguments.userId)
      "SELECT * FROM expenses WHERE userId = '$context.arguments.userId' ORDER BY date DESC"
    #else
      "SELECT * FROM expenses ORDER BY date DESC"
    #end
  ]
}